.container {
    margin-inline: auto;
    max-width: $grid--normal;
    padding-inline: $padding--medium;
    width: 100%;

    &--wide {
        max-width: $grid--wide;
    }

    &--narrow {
        max-width: $grid--narrow;
    }
}
