html, body {
    font-size: $font-size--medium;
	@include mobile {
        font-size: $font-size-mobile--medium;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family--heading;
	line-height: $line-height--tight;
    text-wrap: balance;
}

h1 {
    font-size: $font-size--hero;

    @include mobile {
        font-size: $font-size-mobile--hero;
    }
}

h2 {
    font-size: $font-size--xx-large;

    @include mobile {
        font-size: $font-size-mobile--xx-large;
    }
}

h3 {
    font-size: $font-size--x-large;

    @include mobile {
        font-size: $font-size-mobile--x-large;
    }
}

h4 {
    font-size: $font-size--large;

    @include mobile {
        font-size: $font-size-mobile--large;
    }
}

h5 {
    font-size: $font-size--medium;

    @include mobile {
        font-size: $font-size-mobile--medium;
    }
}

h6 {
    font-size: $font-size--small;

    @include mobile {
        font-size: $font-size-mobile--small;
    }
}

p {
    font-size: $font-size--medium;
    line-height: $line-height--normal;
    text-wrap: pretty;
}

hr {
    border: 0;
	border-top: $border-width--small solid $border-color--light;
}

// @todo: terminar estilização do link
a {
	color: inherit;
	text-decoration: none;
}
