[submodule "plugins/hacklab-dev-utils"]
	path = plugins/hacklab-dev-utils
	url = git@gitlab.hacklab.com.br:open-source/hacklab-dev-utils.git
[submodule "plugins/EthosMigrationPlugin"]
	path = plugins/EthosMigrationPlugin
	url = git@github.com:Ethos-ti/EthosMigrationPlugin.git
	branch = main
[submodule "plugins/EthosDynamics365IntegrationPlugin"]
	path = plugins/EthosDynamics365IntegrationPlugin
	url = git@github.com:Ethos-ti/EthosDynamics365IntegrationPlugin.git
	branch = main
[submodule "plugins/EthosDynamics365IntegrationSOAPLegacyPlugin"]
	path = plugins/ethos-associados
	url = git@github.com:Ethos-ti/EthosDynamics365IntegrationSOAPLegacyPlugin
	branch = main
