
// Margens
.-margin-small {
    margin: $margin--small !important;
}
.-margin-medium {
    margin: $margin--medium !important;
}
.-margin-large {
    margin: $margin--large !important;
}

.-margin-top-small {
    margin-top: $margin--small !important;
}
.-margin-top-medium {
    margin-top: $margin--medium !important;
}
.-margin-top-large {
    margin-top: $margin--large !important;
}

.-margin-bottom-small {
    margin-bottom: $margin--small !important;
}
.-margin-bottom-medium {
    margin-bottom: $margin--medium !important;
}
.-margin-bottom-large {
    margin-bottom: $margin--large !important;
}

.-margin-left-small {
    margin-left: $margin--small !important;
}
.-margin-left-medium {
    margin-left: $margin--medium !important;
}
.-margin-left-large {
    margin-left: $margin--large !important;
}

.-margin-right-small {
    margin-right: $margin--small !important;
}
.-margin-right-medium {
    margin-right: $margin--medium !important;
}
.-margin-right-large {
    margin-right: $margin--large !important;
}

// Paddings
.-padding-small {
    padding: $padding--small !important;
}
.-padding-medium {
    padding: $padding--medium !important;
}
.-padding-large {
    padding: $padding--large !important;
}

.-padding-top-small {
    padding-top: $padding--small !important;
}
.-padding-top-medium {
    padding-top: $padding--medium !important;
}
.-padding-top-large {
    padding-top: $padding--large !important;
}

.-padding-bottom-small {
    padding-bottom: $padding--small !important;
}
.-padding-bottom-medium {
    padding-bottom: $padding--medium !important;
}
.-padding-bottom-large {
    padding-bottom: $padding--large !important;
}

.-padding-left-small {
    padding-left: $padding--small !important;
}
.-padding-left-medium {
    padding-left: $padding--medium !important;
}
.-padding-left-large {
    padding-left: $padding--large !important;
}

.-padding-right-small {
    padding-right: $padding--small !important;
}
.-padding-right-medium {
    padding-right: $padding--medium !important;
}
.-padding-right-large {
    padding-right: $padding--large !important;
}

// Gaps
.-gap-small {
    gap: $gap--small !important;
}
.-gap-medium {
    gap: $gap--medium !important;
}
.-gap-large {
    gap: $gap--large !important;
}
