.-bold {
    font-weight: $font-weight--bold !important;
}

.-italic {
    font-style: italic !important;
}

.-text-center {
    text-align: center !important;
}

.-text-center-on-mobile {
    @include tablet {
        text-align: center !important;
    }

}
