body:not(.block-editor-page) {
    .-block {
        display: block !important;
    }
    .-hidden {
        display: none !important;
    }

    .-hide-mobile {
        @include mobile {
            display: none !important;
        }
     }

    .-show-mobile {
        @include mobile {
            display: none !important;
        }
    }

    .-hide-desktop {
        @include desktop {
            display: none !important;
        }
    }

    .-show-desktop {
        @include tablet {
            display: none !important;
        }
    }
}
