.uwy{
    .userway_buttons_wrapper{
        margin-top: 5rem !important;
        z-index: 9999 !important;
    }
}
div[vw].enabled {
    display: block;
    bottom: 7rem;
    right: 1rem;
    z-index: 0 !important;
}
