@use 'sass:math';

.container {
    margin-inline: auto;
    max-width: $grid--normal;
    padding-inline: $padding--medium;
    width: 100%;

    &--wide {
        max-width: $grid--wide;
    }

    &--narrow {
        max-width: $grid--narrow;
    }

    &:not(.container--wide) {

        .alignwide {

            @include desktop {
                margin-inline-start: calc(#{math.div($grid--wide, -2)} + 50%);
                width: $grid--wide;
            }
        }
    }

    .alignfull {
        margin-inline-start: calc(-50vw + 50%);
        width: 100vw;
    }
}
