.text-input, .select {
    background-color: $color--high-pure;
    border: $border-width--small solid $color--high-dark;
    border-radius: $border-radius--small;
    color: $color--low-pure;
    line-height: $line-height--none;
    padding: $padding--small $padding--medium;

    &--disabled, &--readonly {
        background-color: $color--high-light;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error, .form-field--invalid & {
        background-color: color-mix(in lab, $color--high-pure 75%, $color--warning-light);
        border-color: $color--warning-light;
    }
}
.text-input:is(textarea){
    min-height: 170px;
}
.text-input[type="file"] {
    height: size(52);
    line-height: size(32);

    &::file-selector-button {
        background-color: $color--low-pure;
        border: none;
        border-radius: $border-radius--small;
        color: $color--high-pure;
        cursor: pointer;
        font-weight: $font-weight--bold;
        padding: $padding--small $padding--medium;

        @include mobile-up {
            float: right;
            margin: 0;
        }
    }
}

.checkbox, .radio {
    accent-color: $color--primary-pure;
    transform: scale(1.125);

    &--disabled, &--readonly {
        accent-color: $color--high-dark;
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--error {
        accent-color: $color--warning-pure;
    }
}
