.post-content {
    margin-top: $margin--small;
    margin-bottom: calc($margin--small * 3);

    & ul,
    ol {
        margin: $margin--medium 0;

        @include mobile {
            padding-left: 15px;

        }

    }

    &>ol>li::marker {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
    }

    &>h2 {
        margin-bottom: $margin--medium;
        font-size: $font-size--xx-large;
    }

    &>h3 {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
        line-height: $line-height--normal;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;

        @include desktop {
            margin: $margin--large 0;
        }
    }

    &>h4 {
        line-height: $line-height--normal;
    }

    & .wp-block-buttons {
        margin: calc($margin--small * 3) 0;
        font-size: $font-size--small;
    }

    &>hr.wp-block-separator {
        border-top: $border-width--small solid $color--high-dark;
    }

    & .wp-block-pullquote {
        padding-top: 0;
        margin-bottom: 3rem;
        padding-bottom: 3rem !important;

        @include mobile {
            margin-bottom: 2rem;
            padding-bottom: 2rem !important;
        }
    }

    & .wp-block-gallery.has-nested-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;

        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include mobile {
            grid-template-columns: 1fr 1fr;
        }

        figure.wp-block-image {
            width: 100% !important;
            max-width: 100px;
        }
    }

    & .wp-block-group:has(form) {
        @media (min-width: 560px) {
            h2 {
                font-size: $font-size--xx-large !important;
            }
        }
    }

    & .wp-block-contact-form-7-contact-form-selector form {

        padding-bottom: 2rem;

        p {
            margin: auto;
            font-size: $font-size--small;

            @media (min-width: 560px) {
                width: fit-content;
            }

            label {
                font-size: $font-size--x-small;
                font-weight: $font-weight--bold;
                text-transform: uppercase;

                .warning {
                    color: $color--warning-pure;
                    font-size: $font-size--small;
                    font-weight: $font-weight--regular;
                    float: right;
                }
            }
        }

        input,
        button,
        textarea,
        select {
            width: 100%;
            max-width: 470px;
            background-color: transparent;
            border: $border-width--small solid $color--high-dark;
            border-radius: $border-radius--medium;
            padding: $padding--small $padding--medium;
            font-size: $font-size--small;
            font-weight: $font-weight--regular;
            color: $color--low-light;
            margin: $margin--small 0 $margin--medium;
            max-height: 100px;

            @media (min-width: 560px) {
                width: 470px;
            }

        }

        .button {
            position: relative;
            margin: 0 auto;
            width: fit-content;

            input.wpcf7-submit {
                @extend .button;
                @extend .button--outline;
            }

            .wpcf7-spinner {
                position: absolute;
                top: calc($margin--small * 3);
            }
        }

        .info {
            margin: calc($margin--small * 3) 0;

            p {
                margin-top: $margin--medium;
            }
        }
    }

    .wpcf7 {
        margin: 0px;
    }

    & .recaptcha {
        display: flex;
        justify-content: center;
    }

    & .tab-title {
        user-select: none;
    }



}

.page-indicadores {
    .post-content {
        .tabs-content {
            .wp-block-button__link {
                display: flex;
                gap: $gap--small;
                align-items: center;
            }
        }

        @include mobile {

            .wp-block-media-text.is-stacked-on-mobile {
                gap: $gap--medium;

                .wp-block-media-text {
                    &__media {
                        border-radius: $border-radius--small;
                    }

                    &__content {
                        padding: 0;
                    }
                }
            }

            >.wp-block-buttons .wp-block-button {
                margin: $margin--medium 0 0;

                a {
                    border: none;
                    text-align: left;
                    padding: 0 !important;
                    text-decoration: underline;
                    color: $color--primary-dark;
                    font-size: $font-size--large !important;
                    line-height: $line-height--normal;
                }
            }
        }
    }
}

.page-faca-parte-associe-se {
    .post-content {
        .card {
            &__header {
                border-radius: 0;
            }

            &__body {
                border-radius: 0;
            }
        }

        .wp-block-hacklabr-card-body {
            figure {
                min-width: 24px;
            }

            p {
                font-size: $font-size--small;
            }
        }

        .wp-block-column:has(.wp-block-embed) {
            width: 200px;
            height: 360px;

            iframe {
                width: 200px;
                height: 360px;
                margin: 0 auto;
            }
        }
    }
}