.post-content {
    margin-top: $margin--small;
    margin-bottom: calc($margin--medium * 5);

    &>ol>li::marker {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
    }

    &>h2 {
        margin-bottom: $margin--medium;
        font-size: $font-size--xx-large;
        font-weight: $font-weight--bold;
    }

    &>h3 {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
        font-weight: $font-weight--regular;
        line-height: $line-height--normal;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
    }

    & .wp-block-buttons>.wp-block-button {
        margin: calc($margin--small * 5) 0;
    }

    & hr.wp-block-separator {
        border-top: $border-width--small solid;
    }

}