.tab {
    background-color: transparent;
    border-bottom: $border-width--large solid transparent;
    cursor: pointer;
    display: flex;
    font-size: $font-size--x-small;
    font-weight: $font-weight--bold;
    gap: $gap--medium;
    justify-content: space-around;
    max-width: $grid--normal;
    padding-bottom: $padding--medium;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    @media(max-width:$break--desktop){
        gap: $gap--small;
    }

    img{
        object-fit: scale-down;
    }

    &--active {
        border-bottom-color: $color--primary-pure;
    }

    &--disabled{
        color: $color--low-light;
        cursor: not-allowed;
    }
}

