.tag {
    border: $border-width--medium solid $color--low-pure;
    border-radius: $border-radius--small;
    font-family: $font-family--heading;
    font-size: $font-size--x-small;
    font-weight: $font-weight--bold;
    line-height: $line-height--normal;
    padding: $padding--x-small $padding--small;
    text-decoration: none;
    text-transform: uppercase;

    &:is(a) {
        cursor: pointer;
    }

    // Styles

    &--solid {
        background-color: var(--hl-tag-color, $color--low-pure);
        border-color: var(--hl-tag-color, $color--low-pure);
        color: $color--high-pure;

        &:is(a) {

            &:active, &:hover {
                background-color: $color--high-pure;
                color: var(--hl-tag-color, $color--low-pure);
            }
        }
    }

    &--outline {
        background-color: transparent;
        border-color: var(--hl-tag-color, currentColor);
        color: var(--hl-tag-color, currentColor);

        &:is(a) {

            &:active, &:hover {
                background-color: var(--hl-tag-color, $color--low-pure);
                border-color: var(--hl-tag-color, $color--low-pure);
                color: $color--high-pure;
            }
        }
    }

    // Colors

    &--highlight {
        --hl-tag-color: #{$color--highlight-pure};
    }

    &--primary {
        --hl-tag-color: #{$color--primary-pure};
    }

    &--secondary {
        --hl-tag-color: #{$color--secondary-pure};
    }

    &--helper {
        --hl-tag-color: #{$color--helper-pure};
    }

    &--warning {
        --hl-tag-color: #{$color--warning-pure};
    }

    &--direitos-humanos{
        --hl-tag-color: #{$color--direitos-humanos};
    }

    &--economia{
        --hl-tag-color: #{$color--economia};
    }

    &--gestao-sustentavel{
        --hl-tag-color: #{$color--gestao-sustentavel};
    }

    &--integridade{
        --hl-tag-color: #{$color--integridade};
    }

    &--meio-ambiente{
        --hl-tag-color: #{$color--meio-ambiente};
    }

}
