// Thumbnail Component
.thumbnail {
    display: block;

    img {
      aspect-ratio: 16 / 9;
      border-radius: $border-radius--medium;
      height: auto;
      object-fit: cover;
      width: 100%;
    }

    &--square {

        img {
            aspect-ratio: 1 / 1;
        }
    }

}
