.archive-header {

    &__title{
        color: $color--primary-dark;
        margin-bottom: $margin--medium;
        margin-top: $margin--large;
        text-align: center;
    }

    &__title *,
    &__alert * {
        margin-bottom: $margin--medium;
    }

}
