.blockquote {
    border-bottom: $border-width--small solid $color--high-dark;
    margin-bottom: calc($padding--large + $padding--small);
    padding-bottom: calc($padding--large + $padding--small) !important;
}

