.book-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:$gap--large;
    margin-top: $margin--large ;

    @include mobile{
        display: flex;
        flex-direction: column;
    }
    button{
        margin-top: $margin--large;
        background-color: white;
        padding-left: 0;
    }

}
.related-posts__content{
    @include mobile{
        display: flex !important;
        flex-direction: column;
        padding: $padding--medium;

    }
}
.related-posts__title{
    @include mobile{
        padding: 1rem;
    }
}
