.card {

    &__header {
        background-color: $color--high-dark;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius--round $border-radius--round 0 0;
        padding: $padding--large $padding--large $padding--medium;
    }

    &__body {
        @include stack($gap--medium);
        background-color: $color--high-light;
        border-radius: 0 0 $border-radius--pilled $border-radius--pilled;
        padding: $padding--medium $padding--large $padding--large;
    }

    .post-card__title > a{
        @include small{
            font-size: $font-size--medium;
        }

        @include mobile{
            font-size: $font-size--medium;
        }
    }

    & .hacklabr-posts-grid-block > .post-card{
        &--vertical-thumbnail{

            .post-card__image > a > img{
                width: 6.563rem;
                height: 8.938;
            }
        }

    }
}
