.card {

    &__header {
        background-color: $color--high-dark;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius--round $border-radius--round 0 0;
        padding: $padding--large $padding--large $padding--medium;
    }

    &__body {
        @include stack($gap--medium);
        background-color: $color--high-light;
        border-radius: 0 0 $border-radius--round $border-radius--round;
        padding: $padding--medium $padding--large $padding--large;
    }
}
