.choose-plan {

    .form-field__label {
        display: none;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap--large;
        @include tablet{
            grid-template-columns: repeat(2, 2fr);
        }
        @include mobile{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__title {
        width: 17px;
        height: 17px;
        margin-bottom: $margin--large;
        strong {
            color: $color--primary-dark;
            text-align: center;
            font-family: $font-family--primary;
            font-size: $font-size--x-large;
            font-style: normal;
            font-weight: $font-weight--bold;
            line-height: $line-height--normal;
            position: relative;
            left: 20px;
            bottom: 12px;
        }
    }

    &__text {
        p{
            color: #000;
            font-family: $font-family--primary;
            font-size: $font-size--medium;
            font-style: normal;
            font-weight: $font-weight--bold;
            line-height: size(25);
            margin-bottom: $margin--medium;

        }
        ul {
            padding: 0px;
        }

        ul > li {
            display: flex;
            margin-bottom: $margin--medium;
            list-style: none;
            color: #000;
            font-family: $font-family--primary;
            font-size: size(14);
            font-style: normal;
            font-weight: $font-weight--regular;
            line-height: size(21);
            letter-spacing: -0.42px;
        }

        ul > li::before {
            content: '';
            background-image: url('#{$path--assets}/images/check.png');
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            min-width: 25px;
            min-height: 25px;
            margin-right: 8px;
        }

    }
    &__button{
        margin-bottom: $margin--large;
    }
    &__plan {
        display: flex;
        flex-direction: column;
        height:  max-content;
        padding: $padding--medium;
        border-radius: 0px 0px 8px 8px;
        background: var(--High-light, #F2F3F4);
        box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);


        .choose-plan__title {
            order: 1;
        }

        .choose-plan__button {
            order: 2;
        }

        .choose-plan__text {
            order: 3;
        }

        &:nth-child(1) {
            .choose-plan__title {
                background-image: url('#{$path--assets}/images/circle-conexao.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(2) {
            .choose-plan__title {
                background-image: url('#{$path--assets}/images/circle-essencial.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(3) {
            .choose-plan__title {
                background-image: url('#{$path--assets}/images/circle-vivencia.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(4) {
            .choose-plan__title {
                background-image: url('#{$path--assets}/images/circle-institucional.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}
