.content-sidebar {
    background-color: $color--high-light;

    &__container {
        display: flex;

        @include small {
            flex-direction: column;
            padding-inline: 0;
        }
    }

    &__sidebar {
        flex: 1;
        padding: $padding--xx-large 0 $padding--xx-large $padding--medium;

        @include small {
            padding: $padding--large $padding--medium;
        }

        &-description {
            color: $color--low-light;
            font-size: $font-size--x-small;
            font-weight: 700;
            padding-left: $padding--medium;
            text-transform: uppercase;
        }

        .button {
            display: inline-block;
            margin-left: $margin--medium;
        }
    }

    &__list {
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
        list-style: none;
        padding: 0;
    }

    &__list-item {
        a {
            border-bottom-left-radius: $border-radius--medium;
            border-top-left-radius: $border-radius--medium;
            color: $color--low-pure;
            display: block;
            font-size: $font-size--large;
            font-weight: 700;
            padding: $padding--small $padding--medium;
            text-decoration: none;

            @include small {
                border-radius: $border-radius--medium;
            }

            &:hover {
                color: $color--primary-dark;
            }
        }

        &--active {
            a {
                background-color: $color--high-pure;
                pointer-events: none;
            }
        }
    }

    &__content {
        background-color: $color--high-pure;
        flex: 3;
        padding: $padding--xx-large $padding--large $padding--xx-large $padding--xx-large;

        @include small {
            padding: $padding--large $padding--medium;
        }
    }
}

.wp-block-column--mobile-2-columns {
    @include mobile {
        display: grid !important;
        gap: $gap--small $gap--medium;
        grid-template-columns: repeat(2, 1fr)
    }
}
