.ethos-events{
    .tribe-events{
        .tribe-events-l-container{
            padding-top: $padding--medium;
            padding-bottom: calc($padding--x-large + $padding--xx-large + $padding--medium);
        }
    }
    .tribe-events-header{
        .tribe-events-c-events-bar{
            border: $border-width--small solid $color--high-dark;
            &__search-container{
                .tribe-events-c-events-bar__search-form{
                    .tribe-events-c-search{
                        &__input-group{
                            .tribe-events-c-search__input-control{
                                .tribe-events-c-search__input{
                                    font-family: $font-family--primary;
                                    color: $color--low-light;
                                    &-control-icon-svg{
                                        color: $color--low-dark;
                                    }
                                }
                            }
                        }
                        &__button{
                            background-color: $color--high-pure;
                            color: $color--low-pure;
                            border: $border-width--small solid $color--low-dark;
                            border-radius: $border-radius--large;
                            font-family: $font-family--primary;
                        }
                    }
                }
            }
            &__views{
                .tribe-events-c-view-selector__content{
                    .tribe-events-c-view-selector__list-item-link{
                        .tribe-events-c-view-selector__list-item-text{
                            font-family: $font-family--primary;
                            color: $color--secondary-dark;
                        }
                    }
                }
            }
        }
        .tribe-events-c-top-bar{
            &__nav{
                .tribe-events-c-top-bar__nav-list{
                    .tribe-events-c-top-bar__nav-list-item{
                        .tribe-events-c-top-bar__nav-link{
                            &--prev,
                            &--next{
                                .tribe-events-c-top-bar__nav-link-icon-svg{
                                   path{
                                    fill: $color--low-dark;
                                   }
                                }
                            }
                        }
                    }
                }
            }
            &__today-button{
                font-family: $font-family--primary;
                font-size: $font-size--small;
                color: $color--low-pure;
                border: $border-width--small solid $color--high-dark;
                border-radius: $border-radius--large;
            }
            &__datepicker{
                .tribe-events-c-top-bar__datepicker-button{
                    font-family: $font-family--primary;
                    font-size: $font-size--xx-large;
                    color: $color--low-pure;
                    .tribe-events-c-top-bar__datepicker-button-icon-svg{
                        margin-top: $margin--small;
                        path{
                            fill: $color--low-dark;
                        }
                    }
                }
            }
        }
    }
    .tribe-filter-bar{
        .tribe-filter-bar__form{
            &-heading{
                font-family: $font-family--primary;
                font-size: $font-size--medium;
                color: $color--secondary-dark;
            }
            .tribe-filter-bar__filters-container{
                .tribe-filter-bar__filters{
                    .tribe-filter-bar-c-filter{
                        &__toggle-wrapper{
                            .tribe-filter-bar-c-filter__toggle{
                                font-family: $font-family--primary;
                                font-size: $font-size--small;
                                color: $color--secondary-dark;
                                &-icon{
                                    .tribe-common-c-svgicon>path{
                                        stroke: $color--low-light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .tribe-events-calendar-list{
        .tribe-events-calendar-list__month-separator{
            color: $color--low-pure;
            &-text{
                font-family: $font-family--primary;
            }
        }
        .tribe-events-calendar-list__event-row{
            .tribe-events-calendar-list__event-date-tag{
                &-datetime{
                    .tribe-events-calendar-list__event-date-tag-weekday,
                    .tribe-events-calendar-list__event-date-tag-daynum{
                        font-family: $font-family--primary;
                        color: $color--secondary-dark;
                    }
                    .tribe-events-calendar-list__event-date-tag-weekday{
                        font-size: $font-size--small;
                    }
                    .tribe-events-calendar-list__event-date-tag-daynum{
                        font-size: $font-size--xx-large;
                    }
                }
            }
            .tribe-events-calendar-list__event-wrapper{
                .tribe-events-calendar-list__event{
                    &-featured-image-wrapper{
                        .tribe-events-calendar-list__event-featured-image-link{
                            .tribe-events-calendar-list__event-featured-image{
                                aspect-ratio: 12 / 12;
                            }
                        }
                    }
                    &-details{
                        .tribe-events-calendar-list__event-header{
                            .tribe-events-calendar-list__event-datetime-wrapper{
                                .tribe-events-calendar-list__event-datetime{
                                    font-family: $font-family--primary;
                                    color: $color--secondary-dark;
                                    font-size: $font-size--small;
                                }
                            }
                            .tribe-events-calendar-list__event-title{
                                &-link{
                                    font-family: $font-family--primary;
                                    color: $color--secondary-dark;
                                }
                            }
                            .tribe-events-calendar-list__event-venue{
                                font-family: $font-family--primary;
                                color: $color--secondary-dark;
                            }
                        }
                        .tribe-events-calendar-list__event-description>p{
                            font-family: $font-family--primary;
                            color: $color--secondary-dark;
                            font-size: $font-size--small;
                        }
                        .tribe-events-calendar-list__event-cost{
                            .tribe-events-c-small-cta__price{
                                font-family: $font-family--primary;
                                color: $color--secondary-dark;
                                font-size: $font-size--small;
                            }
                        }
                    }
                }
            }
        }
    }
    .tribe-events-calendar-month{
        &__header{
            &-row{
                .tribe-events-calendar-month__header-column{
                    &-title{
                        text-transform: capitalize;
                        font-family: $font-family--primary;
                        font-size: $font-size--small;
                        color: $color--secondary-dark;
                    }
                }
            }
        }
    }
    .tribe-events-calendar-list-nav{
        border-color: $color--low-light;
        .tribe-events-c-nav__list{
            .tribe-events-c-nav__list-item--prev>a,
            .tribe-events-c-nav__list-item--today>a,
            .tribe-events-c-nav__list-item--next>a{
                font-family: $font-family--primary;
                color: $color--low-pure;
                font-size: $font-size--medium;
                font-weight: $font-weight--bold;
            }
        }
    }
    .tribe-events-c-subscribe-dropdown__container{
        display: none;
    }
}
