.tribe-compatibility-container{
    .tribe-events{
        .tribe-events-widget-events-list{
            &__header,
            &__view-more-link{
                display: none;
            }
            &__events{
                .tribe-events-widget-events-list__event-row{
                    .tribe-events-widget-events-list__event-date-tag{
                        &-datetime{
                            .tribe-events-widget-events-list__event-date-tag-month{
                                font-family: $font-family--primary;
                                color: $color--low-light;
                            }
                            .tribe-events-widget-events-list__event-date-tag-daynum{
                                font-family: $font-family--primary;
                            }
                        }
                    }
                    .tribe-events-widget-events-list__event-wrapper{
                        .tribe-events-widget-events-list__event{
                            .tribe-events-widget-events-list__event-details{
                                .tribe-events-widget-events-list__event-header{
                                    .tribe-events-widget-events-list__event-datetime-wrapper{
                                        .tribe-events-widget-events-list__event-datetime{
                                            .tribe-event-date-start,
                                            .tribe-event-time{
                                                font-family: $font-family--primary;
                                            }
                                        }
                                    }
                                    .tribe-events-widget-events-list__event-title{
                                        .tribe-events-widget-events-list__event-title-link{
                                            font-family: $font-family--primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
