.single-tribe_events{
    .post-header__postdata{
        margin-left: auto;
        margin-right: auto;
        .post-header__postdata__date{
            margin-left: auto;
            margin-right: auto;
        }
        .tag{
            margin-top: calc( $margin--large + $margin--medium );
            border-radius: $border-radius--small;
        }
        .list-terms{
            list-style: none;
            padding-left: 0;
        }
        .post-header__title{
            margin-top: calc( $margin--medium + $margin--small );
        }
        .post-header__excerpt{
            max-width: $grid--normal;
            @media(max-width:$break--tablet){
                font-size: $font-size--large;
            }
        }
        .post-header__meta{
            max-width: $grid--normal;
            @media(max-width:$break--tablet){
                flex-direction: column-reverse;
                margin-left: $margin--small;
                margin-right: $margin--small;
            }
        }
    }

    .event-metadada-section{
        background-color: $color--high-light;
        margin-bottom: $margin--medium;
        .event-metadada{
            margin-top: $margin--large;
            padding: $padding--large $padding--small;
            &.container{
                max-width: $grid--normal;
            }
            .event-metadada__infos{
                display: flex;
                justify-content: space-between;
                margin-bottom: $margin--medium;
                @media(max-width:$break--small){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: $gap--medium;
                }
                &__date,
                &__time,
                &__workload,
                &__investment{
                    :first-child{
                        border-bottom: $border-width--small solid $color--primary-light;
                        padding-bottom: $padding--x-small;
                        color: $color--primary-dark;
                    }
                    :last-child{
                        padding-top: $padding--x-small;
                        font-size: $font-size--small;
                        color: $color--low-pure;
                    }
                }
            }

            .event-metadada__recurrence{
                display: flex;
                justify-content: space-between;
                @media(max-width:$break--small){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: $gap--medium;
                }
                :first-child{
                    padding-bottom: $padding--x-small;
                    color: $color--primary-dark;
                }
                :last-child{
                    border-top: $border-width--small solid $color--primary-light;

                    padding-top: $padding--x-small;
                    font-size: $font-size--small;
                    color: $color--low-pure;
                }
                &-type{
                    border-bottom: none;
                }
            }
        }

            .event-metadada__location{
                &__local{
                    :first-child{
                        border-bottom: $border-width--small solid $color--primary-light;
                        padding-bottom: $padding--x-small;
                        color: $color--primary-dark;
                    }
                    :last-child{
                        padding-top: $padding--x-small;
                        font-size: $font-size--small;
                        color: $color--low-pure;
                    }
                }
            }

    }
    .post-content{
        max-width: $grid--normal;
        .tribe-block__related-events__title,
        .tribe-related-events{
            display: none;
        }
    }
}
