.form {

    &.aligncenter {
        margin-inline: auto;
        max-width: $grid--narrow;
    }

    &__skipper {
        margin: $gap--large auto;
        text-align: center;

        .button {
            display: inline-block;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $gap--medium;

        @include desktop {
            gap: size(24);
        }
    }

    &__buttons {
        display: flex;
        gap: $gap--medium;
        justify-content: center;
        margin-top: $gap--x-large;

        &--has-previous {
            justify-content: space-between;
        }
    }
}
