.form {

    &.aligncenter {
        margin-inline: auto;
        max-width: $grid--narrow;
    }

    &__grid {
        display: grid;
        gap: $gap--medium;
    }

    &__buttons {
        display: flex;
        gap: $gap--medium;
        justify-content: space-evenly;
        margin-top: $gap--x-large;
    }
}
