.form-book{
    max-width:$grid--wide;
    $border-radius: $border-radius--large;
    $padding: $padding--medium;
    background-color: $color--high-light;
    border-radius: $border-radius $border-radius 0 0;
    font-size: $font-size--small;

    & p {
        max-width: 470px;
    }
    &__title{
        align-items: center;
        background-color: $color--gestao-sustentavel-light;
        display: flex;
        padding: $padding--large;
        justify-content: center;
        h2{
            gap: $gap--large;
            display: flex;
            align-items: center;
        }
    }

    &__check{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        .wpcf7-form-control-wrap{
            margin-bottom: 12px;
        }
        & .wpcf7-list-item{
            margin:0px;
            margin-bottom: 12px;
            & span{
                margin-left: 8px;
            }
        }

    }

    &__form-field{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        max-width: 100%;
        align-content: center;
        align-items: center;
        padding: $padding--x-large $padding--xxx-large;
        border-radius: 0px 0px 16px 16px;
        @include mobile{
            padding: $padding--large $padding--medium ;
        }

    }

    &__input{
        width: 100%;
        max-width: 470px;
        border-radius: $border-radius--small;
        border: 1px solid #DDD;
        background-color: var(--wp--preset--color--high-light);



    }

    &__book-button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & p{
            width: initial;
        }
        &wpcf7-form{
            background-color: var(--wp--preset--color--high-light);

        }
    }

    &__label-name{
        color: #363B43;
        font-size: $font-size--small;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 13.2px */
        letter-spacing: -0.36px;
        text-transform: uppercase;
        margin-bottom: $margin--small;
    }
}
