.layout-part{
    padding-top: calc($padding--x-large + $padding--small);
    padding-bottom: $padding--x-large;
    .wp-block-group{
        .wp-block-heading{
            color: $color--primary-dark;
            font-size: $font-size--xxx-large;
            @mixin mobile{
                font-size: $font-size--xx-large;
            }
        }
        .wp-block-group>p{
            font-size: $font-size--large;
        }
    }
}
