.layout-part {
    padding: calc($padding--x-large + $padding--small) 0;

    @include mobile {
        padding: 0;
    }

    .wp-block-group {
        .wp-block-heading {
            color: $color--primary-dark;
            font-size: $font-size--xxx-large;

            @media(max-width:$break--tablet) {
                font-size: $font-size--xx-large;
                margin-top: calc($margin--large + $margin--medium);
            }
        }

        .wp-block-group>p {
            font-size: $font-size--large;
            @media(max-width:$break--tablet){
                margin-bottom: calc($margin--large + $margin--medium);
                padding-left: $padding--small;
                padding-right: $padding--small;
            }
        }
    }
}
