.layout-part{
    padding-top: calc($padding--x-large + $padding--small);
    padding-bottom: $padding--x-large;
    @media(max-width:$break--tablet){
        padding-bottom: $padding--medium;
    }
    .wp-block-group{
        .wp-block-heading{
            color: $color--primary-dark;
            font-size: $font-size--xxx-large;

            @media(max-width:$break--tablet){
                font-size: $font-size--xx-large;
            }
        }
        .wp-block-group>p{
            font-size: $font-size--large;
        }
    }
}
