.page-lista-de-associadas, .page-associados{
    .post-content > h2{
        margin-bottom: 1rem;
        color: $color--primary-dark;
        font-size: $font-size--x-large;
        font-weight: $font-weight--medium;
        line-height: 1;
        text-align: center;
    }
    .wp-block-gallery {
        &.has-nested-images{
            figure{
                max-width: 100%;
                margin-bottom: inherit !important;
                &.wp-block-image{
                    align-items: center;
                    img{
                        max-width: 150px !important;
/*                         max-width: 96px !important;
 */                    }
                }

            }
        }
    }

}
.page-associados .tabelasDiv .tableAssociadasPorEstado .tablePorteAssociadas table:first-of-type th:nth-of-type(2) {
    display:none
}
.page-associados .tabelasDiv .tableAssociadasPorEstado .tablePorteAssociadas table:nth-of-type(2) tbody tr:nth-of-type(1) {
    display:none
}

.page-associados .tabelasDiv .tableAssociadasPorEstado .tablePorteAssociadas table:nth-of-type(2) tbody tr:nth-of-type(2) td:nth-of-type(2){
    display:none;
}
.page-associados .tabelasDiv .tableAssociadasPorEstado .tablePorteAssociadas table:nth-of-type(2) tbody tr:nth-of-type(3) td:nth-of-type(2){
    display:none;
}
.page-associados .tabelasDiv .tableAssociadasPorEstado .tablePorteAssociadas table:nth-of-type(2) tbody tr:nth-of-type(4) td:nth-of-type(2){
    display:none;
}
