.main-footer {
    background-color: $color--primary-dark;
    padding-bottom: $padding--large;
    padding-top: $padding--xx-large;

    @include mobile {
        padding-top: $padding--x-large;
    }

    &__widgets {
        max-width: $grid--wide;

        @include mobile {
            padding-inline: $padding--x-large;
        }

        .wp-block-heading {
            margin-block: $margin--small;
        }
    }
}