.main-header {
    $background-color: $color--high-light;
    $text-color: $color--low-pure;

    background-color: $background-color;
    color: $text-color;
    left: 0;
    position: sticky;
    top: 0;
    transition: $transition--default;
    width: 100%;
    z-index: 1;

    a {
        text-decoration: none;
    }

    &__toggle-menu, &__toggle-search {
        background-color: transparent;
        padding: 0;
    }

    .sub-menu {
        background-color: $background-color;
    }
}
