.members-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
        text-align: center;
    }
    &__section:nth-child(1){
        border-bottom: 1px solid #ddd;
        margin-bottom: $margin--large !important;
    }

    &__text {
        max-width: 570px;
        margin: auto;
        h3 {
            color: $color--primary-dark;
        }
    }

    &__grid {
        display: flex;
        flex-direction: row;
        gap: $gap--medium;
        justify-content: center;
        margin-top: $margin--large !important;
        margin-bottom: $margin--large !important;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    &__form__item::marker {
        display: none;
    }

    &__card,
    button {
        display: flex;
        padding: $padding--medium $padding--large;
        border-radius: 8px;
        background: var(--High-light, #F2F3F4);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-weight: $font-weight--bold;
        color: #222;
        font-family: $font-family--primary;
        font-size: $font-size--large;
        letter-spacing: -0.6px;
        cursor: pointer;
    }

    &__user {
        h4 {
            color: #000;
            text-align: center;
            font-family: $font-family--primary;
            font-size: 16px;
            font-weight: $font-weight--bold;
            margin-left: 1px;
        }
    }

    &__avatar > img {
        border-radius: 50%;
    }

    &__item {
        display: flex;



    }
    &__modal{
        max-width: 750px;
        width: 100%;
        margin: auto;
        border: none;
        border-radius: $border-radius--medium;

    }
    &__modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span{
            text-align: center;
            width: 100%;
            color: #0075AD;
            text-align: center;
            font-family: $font-family--heading;
            font-size: 24px;
            font-style: normal;
            font-weight: $font-weight--regular;
            line-height: 36px;
            letter-spacing: -0.72px;
        }
        & button{
            background-color: white;

        }
    }
    &__modal-body{
        & button{
            padding: $padding--small $padding--large;
            justify-content: center;
            align-items: center;
            gap: $gap--small;
            background-color: $color--low-pure;
            border-radius: $border-radius--medium;
            color: var(--High-Pure, #FFF);
            text-align: center;
            font-family: $font-family--heading;
            font-size: size(14);
            font-style: normal;
            font-weight: $font-weight--bold;
            line-height: 21px; /* 21px */
            text-transform: uppercase;
        }

    }
}
