.page-meu-plano{
    .wp-block-table{
        thead > tr > th{
            padding:$padding--medium;
            & img{
                margin:0px;
            }
            &:nth-last-child(2){
                display: flex;
                gap: $gap--small;
                padding: $padding--medium $padding--xx-large;
                @include mobile{
                    padding: 18px 0px !important;
                }

                span{
                    color: $color--primary-dark !important;
                    font-weight: $font-weight--bold;
                    @include mobile{
                        font-size: 11px!important;
                    }
                }
                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        tbody > tr >  td > mark{
            display: flex;
            justify-content: center;
        }
    }
    main > p > strong{
        color: $color--primary-dark !important;
        font-weight: $font-weight--bold;
    }
}
