.partners-list {
    margin-bottom: 120px;
    h2 {
        color: $color--primary-dark;
        font-size: $font-size--x-small !important;
        font-weight: $font-weight--bold;
        border-bottom: 1px solid #808080;
        padding-bottom: $padding--small;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0px !important;
        @include mobile {
            font-size: $font-size--x-small !important;
        }
    }
    .wp-block-group{
        margin-bottom: $padding--xx-large;
        figure:nth-child(2){
            img{
                @include mobile{
                    width: 128px;
                }

            }
        }
    }
    .parceria-institucional,
    .apoio-institucional{
        display: flex;
        justify-content: center;
        gap:$gap--xxx-x-large;
        margin-top: $gap--small;

        @include mobile{
            gap: $gap--xx-large;
        }

    }
    .parceria-estratégica{
        gap:$gap--xx-large;
        @include mobile{
            gap: $gap--xx-large;
        }
    }
}
