.partners-list{
    h2 {
        color: $color--primary-dark;
        font-size: $font-size--x-small !important;
        font-weight: $font-weight--bold;
        border-bottom: 1px solid #808080;
        padding-bottom: $padding--small;
        text-align: center;
        text-transform:uppercase;
        @include mobile {
            font-size: $font-size--x-small !important;
        }
    }
    .wp-block-group{
        padding-bottom: $padding--xx-large;
        padding-top: $padding--medium;

    }
    .parceria-institucional,
    .apoio-institucional{
        display: flex;
        justify-content: center;
        gap: 6rem;
        @include mobile{
            gap:$gap--xxx-large;
        }
    }
    .parceria-estratégica{
        display: flex;
        justify-content: center;
        gap:$gap--x-large;
        @include mobile{
            gap:$gap--xxx-large;
        }
    }
}
