.post-header {
    &__separator {
        border-bottom: $border-width--small solid $color--high-dark;
        margin-bottom: $margin--large;
    }

    &__featured-image {
        border-radius: $border-radius--large;
        margin-bottom: $margin--large;
        margin-top: $margin--medium;
        object-fit: cover;
        width: 100%;

        @include small {
            max-height: 192px;
        }

        @include mobile {
            max-height: 192px;
        }
    }

    &__tags {
        display: flex;
        justify-content: center;
    }

    &__title, .wp-block-heading {
        color: $color--primary-dark;
        font-size: $font-size--hero;
        margin-top: $margin--large;
        text-align: center;

        @include small {
            font-size: $font-size--large;
        }

        @include mobile {
            font-size: $font-size--large;
        }
    }

    &__excerpt {
        font-size: $font-size--large;
        font-weight: $font-weight--regular;
        margin-bottom: $margin--large;
        margin-top: $margin--small;
        text-align: center;

        @include small {
            font-size: $font-size--x-small;
        }

        @include mobile {
            font-size: $font-size--x-small;
        }
    }

    &__meta {
        border-bottom: $border-width--small solid $color--high-dark;
        color: $color--low-light;
        display: flex;
        justify-content: space-between;
        padding: 0;

        @include small {
            flex-direction: column;
            font-size: $font-size--x-small;
            gap: $gap--small;
            justify-content: inherit;
            padding-bottom: $padding--medium;
        }

        @include mobile {
            flex-direction: column;
            font-size: $font-size--x-small;
            gap: $gap--small;
            justify-content: inherit;
            padding-bottom: $padding--medium;
        }
    }

    &__date {
        font-size: $font-size--small;
    }

    &__author {
        color: $color--low-light;
        padding: 0;

        @include small {
            padding-top: $padding--x-small;
        }

        @include mobile {
            padding-top: $padding--x-small;
        }

        &-name {
            font-size: $font-size--small;
            padding-top: $padding--x-small;
        }
    }
}
