.posts-grid {
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap--large;

        @media (min-width: $break--small) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $break--desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__content:has(.no-post) {
        display: flex;
        text-align: center;
    }

    .post-card {

        &__meta,
        &__excerpt {
            display: none;
        }
    }
}