.tabs {
    &__header {
        display: flex;
        gap: $gap--large;
    }

    &__panels {
        margin-top: $margin--medium;
    }

    &--nav{
        max-width: $grid--normal;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
