.tabs {
    &__header {
        display: flex;
        gap: $gap--large;
        justify-content: center;
        overflow-x: auto;
        border-bottom: $border-width--small solid $color--primary-light;
        max-width: $grid--wide;
        width: 100%;
        @media(max-width:$break--desktop){
            justify-content: flex-start;
        }
    }

    &__panels {
        margin-top: $margin--large;
        padding-bottom: calc(3*($padding--large) + $padding--medium);
        @media(max-width:$break--desktop){
            padding-bottom: calc(2*($padding--large));
        }
    }
}
