.wp-block-atbs-tabs {
    margin-inline-start: inherit !important;
    max-width: 100%;

    .tabs-container .tabs-nav {
        width: 100%;
        overflow: auto;
    }

    .tabs-titles {
        @extend .tabs;
        background-color: transparent !important;
        border-bottom: $border-width--small solid $color--primary-light;
        flex-direction: inherit !important;

        .tab-title{
            align-items: normal !important;
            &-text {
                @extend .tab;
                font-family: $font-family--heading;
                font-size: $font-size--x-large;
                margin-bottom: 0;
                text-transform: capitalize;
                padding-bottom: 0;

                @include mobile {
                    font-size: $font-size--medium !important;
                }

                @include small {
                    font-size: $font-size--x-small !important;
                    line-height: 13.2px !important;
                }
            }
        }
    }

    .tabs-content {
        .wp-block-atbs-tab>.single-tab>.wp-block-group>h2 {
            font-size: $font-size--xx-large;
            font-weight: $font-weight--regular;
            margin: $margin--medium 0;
        }

        .wp-block-columns>.wp-block-column>h2{

            @include mobile{
                font-size: $font-size--small !important;
            }

            @include small{
                font-size: $font-size--small !important;
            }

        }

        .wp-block-buttons {
            margin-top: 0;

            .wp-block-button {
                margin-bottom: 0;
            }
        }

        .wp-block-query .wp-block-post ul li {
            @extend .card;
        }

        .hacklabr-posts-grid-block.alignwide {
            max-width: 1170px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }

}
