.wp-block-atbs-tabs{
    @extend .tab;
    margin-inline-start: inherit !important;

    .tabs{

        &-nav{
            width: 100%;
        }

        &-titles{
            @extend .tabs;
            background-color: transparent;
            border-bottom: $border-width--small solid $color--primary-light;
            flex-direction: inherit;

            .tab{
                &-title{
                    @extend .tab;
                    margin-bottom: 0;
                }
            }
        }

        &-content{
            .wp-block-atbs-tab > .single-tab > .wp-block-group > h2{
                font-weight: $font-weight--regular;
                margin-bottom: $margin--small;
            }
        }
    }
}


