.wp-block-pullquote{
    @extend .blockquote;

    p{
        font-size: $font-size--large;

        @include mobile {
            font-size: $font-size--medium;
            line-height: $line-height--normal;
        }
    }
}
