.wp-block-button {
    a {

        background-color: $color--high-pure;
        color: $color--low-pure;
        text-align: center;
        font-family: $font-family--primary;
        font-size: $font-size--medium;
        font-style: normal;
        font-weight: $font-weight--bold;
        padding: $padding--small $padding--large;
        border: $border-width--medium solid $color--low-pure;
        &:hover {
            color:white;
            border-radius: $border-radius--medium;

            background: $color--low-pure;
            border: $border-width--medium solid $color--low-pure;


        }

    }
    &.is-style-outline {
        a {
            @extend .button--outline;
        }
    }

    &.is-style-fill {
        a {
            @extend .button--solid;
        }
    }
}
