
    #pmpro_login{
        margin-bottom: 0px !important;
        .pmpro_lost_password_wrap{
            max-width: $grid--narrow;
            margin-top: 0;
            .pmpro_card_actions{
                .pmpro_actions_nav{
                    display: none !important;
                }
            }
            & .pmpro_form_fields{
                margin-bottom: $margin--large;
            }
        }
    }
    .pmpro-login{
        margin-top: 0;
        position: relative;
        top: -3rem;

        .pmpro_card {
            border: none ;
            box-shadow: none;

            .pmpro_card_actions{
                border: none;
                background-color: white !important;
                .pmpro_actions_nav{
                    font-size: 16px !important;
                    margin-top: 7px;
                    top: -18rem !important;
                    & > a{
                        font-weight: $font-weight--bold !important;
                        font-size: 12px;
                        text-transform: math-auto;
                    }
                }
            }
        }
        .pmpro_login_wrap{
            margin-bottom: 0;

            .pmpro_card_content{
                padding-bottom: 0px;
                & > form{
                    text-transform: uppercase;
                    .login-username{
                        width: 470px !important;
                        width: 100%;
                        max-width: 100%;
                        @include mobile{
                            width: 100% !important;
                            max-width: 100%;
                        }
                        input[type="text"], input[type="password"]{
                            @extend .text-input;
                            padding: $padding--medium;
                            margin-top: $margin--small;
                            max-width: 100% !important;
                            width: 100%;
                        }
                    }
                    .login-remember{
                        label{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                    .login-password {
                        position: relative !important;

                        & > label{
                            text-transform: math-auto;
                            font-family: "Open Sans", sans-serif!important;
                            }
                        }
                    .login-password > .toggle-password {
                        background-image: url( $path--assets + "/images/show-pass.png" );
                        background-position: center!important;
                        background-size: cover!important;
                        background-repeat: no-repeat;
                        content: " ";
                        cursor: pointer;
                        display: block;
                        height: calc(1rem - 6px);
                        position: absolute;
                        right: calc(1rem - 1px);
                        top: 68%;
                        transform: translateY(-50%);
                        width: 1rem;
                    }

                    .login-password > .toggle-password.show {
                        background-image: url($path--assets + "/images/hide-pass.png");
                    }

                    .login-remember{
                        font-weight: $font-weight--bold !important;
                        text-transform: math-auto;

                    }

                    .login-submit{
                        display: flex;
                        justify-content: center !important;
                        margin-top: calc($margin--large*3) !important;
                        margin-bottom: -1rem !important;
                        margin-top: $margin--medium;
                    }

                    input[type="submit"]{
                        background-color: $color--low-pure !important;
                        border: $border-width--medium solid $color--low-pure!important;
                        border-radius: $border-radius--large!important;
                        color: $color--high-pure!important;
                        font-size: $font-size--small!important;
                        font-weight: $font-weight--bold!important;
                        height: 2.313rem!important;
                        margin-top: $margin--large;
                        padding: $padding--small $padding--large!important;
                        text-transform: uppercase!important;
                        width: initial !important;

                        @include small{
                            width: inherit !important;
                        }

                        @include mobile{
                            width: inherit !important;
                        }
                    }

                }

                & > hr {
                    display: none;
                }
            }


        }

        .pmpro_reset_password_wrap{
            max-width: 440px!important;
            width: 100%!important;
            margin-left: auto;
            margin-right: auto;
            & > form{
                .pmpro_reset_password-fields{
                    font-size: $font-size--x-small!important;
                    label{
                        text-transform: uppercase!important;
                    }
                    input[type="password"]{
                        @extend .text-input;
                        padding: $padding--medium!important;
                        margin-top: $margin--small!important;
                        max-width: 100% !important;
                        width: 27.375rem!important;
                    }
                    .lite{
                        font-size: $font-size--x-small!important;
                        margin-bottom: $margin--large!important;
                        color: $color--low-pure!important;

                    }

                }
                .pmpro_submit{
                    text-align: center!important;
                    @include small{
                        display: flex!important;
                        justify-content: center!important;
                    }
                    input[type="submit"]{
                        background-color: $color--low-pure!important;
                        border: $border-width--medium solid $color--low-pure!important;
                        border-radius: $border-radius--large!important;
                        color: $color--high-pure!important;
                        font-size: $font-size--small!important;
                        font-weight: $font-weight--bold!important;
                        height: 2.713rem!important;
                        margin-top: $margin--small!important;
                        margin-bottom: $margin--large!important;
                        padding: $padding--small $padding--large $padding--medium!important;
                        text-transform: uppercase!important;

                        @include small{
                            width: inherit !important;
                        }

                        @include mobile{
                            width: inherit !important;
                        }
                    }
                    .pmpro_btn{
                        opacity: 100%;
                    }
                }
            }
        }

    }

