

.accordeon {
    border: $border-width--small solid $color--primary-pure;

    &__header {
        padding: $padding--medium;
        position: relative;
        color: $color--low-pure;
        font-family: $font-family--primary;
        font-size: $font-size--large;
        letter-spacing: -0.6px;

        &::marker {
            content: "";
        }

        &::before {
            content: "";
            transition: transform 0.2s ease;
            position: absolute;
            right: $padding--medium;
            top: 1.5rem;
            @include arrow('down', $border-width--medium, $color--primary-pure);
        }
    }

    &[open] &__header::before {
        transform: rotate(-135deg);
    }

    &__content {
        background-color: $color--high-light;
        padding: $padding--medium calc($padding--small * 3);
    }

}
