.card {
    .card__image {
        .wp-post-image,
        img {
            border-radius: $border-radius--large; //9px
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card__content {
        border-radius: $border-radius--large; //9px
        display: grid;
        gap: $gap--small;

        & a {
            text-decoration: none;
        }

        .card__category {
            .post-categories {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: calc($gap--small * .5);
                padding: calc($padding--small * .5) 0;

                > li {
                    padding: calc($padding--small * .5) $padding--small;
                    font-size: $font-size--small;
                    font-family: $font-family--heading;
                    font-weight: $font-weight--bold;
                    text-transform: uppercase;
                    border-radius: $border-radius--small;
                    border: solid $border-width--medium $color--low-pure;
                }
            }
        }

        .card__title {
            font-family: $font-family--heading;
            font-style: normal;
            font-size: $font-size--large; // 1.5rem
            font-weight: $font-weight--bold; //700
            line-height: $line-height--normal; //1.5
        }

        .card__excerpt p {
            color: $color--low-pure;
            font-family: $font-family--primary;
        }
    }

    &--cover {
        position: relative;

        .card__content {
            position: absolute;
            bottom: 0;
            padding: $padding--medium; //1 rem
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50.12%, #000 100%);
            width: 100%;

            .card__category {
                .post-categories > li {
                    border: solid $border-width--medium $color--high-pure;
                    color: $color--high-pure;
                }
            }

            .card__title {
                color: $color--high-pure;
                font-size: $font-size--xx-large; //equivalente a 32px
            }

            .card__meta,
            .card__excerpt {
                display: none;
            }
        }
    }

    &--horizontal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap--medium;
    }

}
