.main-header {
    background-color: var(--hl--color--header-background);
    color: var(--hl--color--header-text);
    left: 0;
    position: sticky;
    top: 0;
    transition: $transition--default;
    width: 100%;
    z-index: 100;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: size(80);
        padding-inline: $padding--medium;
    }
}
