.pagination {
    margin: auto;
    width: fit-content;

    &__nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: $gap--small;

        &__previous,
        &__next {
            color: $color--primary-pure;
            font-weight: $font-weight--bold;
            text-decoration: none;
        }

        &__number {
            align-items: center;
            display: flex;
            height: $font-size--xx-large;
            justify-content: center;
            padding: $padding--small;
            min-width: $font-size--xx-large;
            text-decoration: none;

            &--current {
                background: $color--primary-pure;
                border-radius: $border-radius--round;
            }
        }
    }
}
