.table {
    background-color: $color--high-light;
    border-radius: $border-radius--large $border-radius--large 0 0;
    font-size: $font-size--small;

    &__header-cell {
        background-color: $color--high-dark;
        padding: $padding--medium;

        &:first-child {
            border-top-left-radius: $border-radius--large;
        }

        &:last-child {
            border-top-right-radius: $border-radius--large;
        }
    }

    &__cell {
        border-bottom: $border-width--small solid $color--primary-pure;
        padding: $padding--medium;
    }

    &__row {

        &:last-child {

            .table__cell {
                border: none;
            }
        }
    }
}
