// As variáveis desse arquivo devem ser configuradas pelo arquivo theme.json

// Colors
$color--primary-pure:       var(--wp--preset--color--primary-pure);
$color--primary-light:      var(--wp--preset--color--primary-light);
$color--primary-dark:       var(--wp--preset--color--primary-dark);
$color--secondary-pure:     var(--wp--preset--color--secondary-pure);
$color--secondary-light:    var(--wp--preset--color--secondary-light);
$color--secondary-dark:     var(--wp--preset--color--secondary-dark);
$color--highlight-pure:     var(--wp--preset--color--highlight-pure);
$color--highlight-light:    var(--wp--preset--color--highlight-light);
$color--highlight-dark:     var(--wp--preset--color--highlight-dark);
$color--low-pure:           var(--wp--preset--color--low-pure);
$color--low-light:          var(--wp--preset--color--low-light);
$color--low-dark:           var(--wp--preset--color--low-dark);
$color--high-pure:          var(--wp--preset--color--high-pure);
$color--high-light:         var(--wp--preset--color--high-light);
$color--high-dark:          var(--wp--preset--color--high-dark);
$color--warning-pure:       var(--wp--preset--color--warning-pure);
$color--warning-light:      var(--wp--preset--color--warning-light);
$color--warning-dark:       var(--wp--preset--color--warning-dark);
$color--helper-pure:        var(--wp--preset--color--helper-pure);
$color--helper-light:       var(--wp--preset--color--helper-light);
$color--helper-dark:        var(--wp--preset--color--helper-dark);

// Font sizes
$font-size--hero:       var(--wp--preset--font-size--hero);
$font-size--xx-large:   var(--wp--preset--font-size--xx-large);
$font-size--x-large:    var(--wp--preset--font-size--x-large);
$font-size--large:      var(--wp--preset--font-size--large);
$font-size--medium:     var(--wp--preset--font-size--medium);
$font-size--small:      var(--wp--preset--font-size--small);
$font-size--x-small:    var(--wp--preset--font-size--x-small);

// Font families
$font-family--primary: var(--wp--preset--font-family--primary);
$font-family--secondary: var(--wp--preset--font-family--secondary);
$font-family--heading: var(--wp--preset--font-family--heading);
