:root {
    --hl--break--small:          	#{$break--small};
    --hl--break--tablet:         	#{$break--tablet};
    --hl--break--desktop:        	#{$break--desktop};
    --hl--break--desktop-large:  	#{$break--desktop-large};
    --hl--break--desktop-x-large: 	#{$break--desktop-x-large};

    // Grid
    --hl--grid--wide:   #{$grid--wide};
    --hl--grid--normal: #{$grid--normal};
    --hl--grid--narrow: #{$grid--narrow};

    // Font weights
    --hl--font-weight--bold:    #{$font-weight--bold};
    --hl--font-weight--medium:  #{$font-weight--medium};
    --hl--font-weight--regular: #{$font-weight--regular};
    --hl--font-weight--light:   #{$font-weight--light};

    // Line heights
    --hl--line-height--loose:   #{$line-height--loose};
    --hl--line-height--normal:  #{$line-height--normal};
    --hl--line-height--tight:   #{$line-height--tight};
    --hl--line-height--none:    #{$line-height--none};

    // Espaçamentos
    --hl--padding--small:   #{$padding--small};
    --hl--padding--medium:  #{$padding--medium};
    --hl--padding--large:   #{$padding--large};

    --hl--gap--x-small: #{$gap--x-small};
    --hl--gap--small:   #{$gap--small};
    --hl--gap--medium:  #{$gap--medium};
    --hl--gap--large:   #{$gap--large};

    // bordas
    --hl--border-radius--round:  #{$border-radius--round};
    --hl--border-radius--small:  #{$border-radius--small};
    --hl--border-radius--medium: #{$border-radius--medium};
    --hl--border-radius--large:  #{$border-radius--large};

    --hl--border-width--small:  #{$border-width--small};
    --hl--border-width--medium: #{$border-width--medium};
    --hl--border-width--large:  #{$border-width--large};

    --hl--border-color--light:  #{$border-color--light};
    --hl--border-color--dark:   #{$border-color--dark};

    // Transições
    --hl-transition--default:   #{$transition--default};

    // box shadows
    --hl--box-shadow--default:  #{$box-shadow--default};

    @media (max-width: $break--tablet) {
        --wp--preset--font-size--hero:      #{$font-size-mobile--hero};
        --wp--preset--font-size--xx-large:  #{$font-size-mobile--xx-large};
        --wp--preset--font-size--x-large:   #{$font-size-mobile--x-large};
        --wp--preset--font-size--large:     #{$font-size-mobile--large};
        --wp--preset--font-size--medium:    #{$font-size-mobile--medium};
        --wp--preset--font-size--small:     #{$font-size-mobile--small};
        --wp--preset--font-size--x-small:   #{$font-size-mobile--x-small};
    }
}
